#reset__vp .logo {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#reset__vp .full-width {
    width: 100%;
}

#reset__vp form {
    margin-bottom: 1rem;
}

#reset__vp .form {
    margin-top: 10%;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}

#reset__vp .info {
	background-color: #efe;
	padding: 10px;
	margin: 0px 15px 15px 15px;
	border: 1px solid #383;
	border-radius: 5px;
}
