#rules {
	font-size : 1.2rem;
}

#rules h1 {
	font-size : 2.4rem;
}

#rules .center {
	text-align : center;
}

.h-color {
	color : rgba(0, 191, 211, 1);
}

#rules .italic {
	font-style : italic;
}

#rules .bold {
	font-weight : 700;
}

#rules li {
	list-style-type : decimal
}

.mb-10 {
	margin-bottom: 10rem;
}
