#sc__vp {
	color: #737373;
	width: 100%;
}

#sc__vp .card {
	border: 1px solid;
	padding: 20px;
	border-radius: 20px;
}

#sc__vp .card .brand {
	font-size: 20px;
}

#sc__vp .card .number {
	
}

#sc__vp .card .exp {
	
}

