<div class="btn-navbar-menu">
	<div class="closer"></div>
	<ul>
		<li>
			<div class="box-logo"><a href="#anchor0"><img src="assets/img/logo.svg" alt="logo"></a></div>
		</li>
		<li><a href="#anchor1">Not Just For the Pros</a></li>
		<li><a href="#anchor2">Our Values</a></li>
		<li><a href="#anchor3">How It Works</a></li>
		<li><a href="#anchor4">Our Players</a></li>
		<li><a href="#anchor5">Success</a></li>
		<li><a [routerLink]="['/registration/league']" class="btn btn-red nav-link">Join the League</a></li>
	</ul>
</div>
<section id="anchor0" class="section-1">
	<div class="mobil-nav-bar">
		<a href="#anchor0" class="box-logo"><img src="assets/img/logo.svg" alt="logo"></a>
		<a href="javascript:void(0)" class="btn-navbar">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
	<div class="top-bg-img">
		<div class="top-bg-img__footer d-flex justify-content-between pt-4">
			<div class="box-logo"><img src="assets/img/logo.svg" alt="logo">
				<span>THE ESPORTS DEVELOPMENT LEAGUE</span>
			</div>
			<a [routerLink]="['/registration/league']" class="btn btn-red sm mr-4">Join the League</a>
		</div>
		<div class="center-title">
			<h1>Finally, Competitive Esports for You</h1>
			<p>We assign you to a team based on your goals and skill set. <span class="text-nowrap" >6-week</span> splits with 1 official EDL match per week.</p>
			<a [routerLink]="['/registration/league']" class="btn btn-red mr-4">Start the Journey Now!</a>
		</div>
	</div>
	<div class="mobil-top-bg-img">
		<img src="assets/img/group-21.jpg" alt="">
		<h1>Finally, Competitive Esports for You</h1>
	</div>
	<div class="mobil-section-gradient">
		<div class="mobil-section-gradient__content">
			<p>We assign you to a team based on your goals and skill set. <span>6-week</span> splits with 1 official League match
				per week.</p>
			<a [routerLink]="['/registration/league']" class="btn btn-red">Start the Journey Now!</a>
		</div>
	</div>
	<div class="nav-bar">
		<a href="#anchor0" class="box-logo"><img src="assets/img/logo.svg" alt="logo"></a>
		<a href="#anchor1">Not Just For the Pros</a>
		<a href="#anchor2">Our Values</a>
		<a href="#anchor3">How It Works</a>
		<a href="#anchor4">Our Players</a>
		<a href="#anchor5">Success</a>
		<button [routerLink]="['/registration/league']" class="btn btn-red">Join the League</button>
	</div>
</section>
<section class="section-2">
	<p>Youth and Adult leagues open to all players, beginner to aspiring professional, in the following games:</p>
</section>
<section class="section-3">
	<div class="box-games">
		<div class="img-box"><img src="assets/img/lol.png" alt="Lol"></div>
		<div class="img-box"><img src="assets/img/fortnite.svg" alt="Fortnite"></div>
		<div class="img-box"><img src="assets/img/scgo.svg" alt="Counter strike"></div>
		<div class="img-box"><img src="assets/img/overwatch.svg" alt="Overwatch"></div>
	</div>
</section>
<section id="anchor1" class="section-4 row m-0">
	<div class="col-lg-6 order-lg-2 box-rigth">
		<div class="box-rigth__content">
			<h2>NOT JUST FOR THE PROS</h2>
			<p>We understand the frustration of watching pros play a deeply strategic team-game and enjoy meaningful relationships while you try to solo-carry every game.</p>
			<ul>
				<li>Nobody should have to experience toxic teammates and trolls. </li>
				<li>Without a shared strategy, common goals and a communication plan, gaming is frustrating and isolating.</li>
				<li>Everyone deserves to play the best version of the game. Now you can! </li>
			</ul>
			<!-- <a id="link1" class="arrow-link" href="javascript:void(0)">View League <span class="arrow"></span></a> -->
		</div>
	</div>
	<div class="col-lg-6 order-lg-1 box-left">
		<a [routerLink]="['/registration/league']" class="btn btn-red sm">Start a meaningful esports journey now!</a>
	</div>
	<div class="col-lg-6 order-lg-1 mobil-box-left p-0">
		<img src="assets/img/group-22.jpg" alt="">
	</div>
</section>
<section id="anchor2" class="section-5">
	<h2>OUR VALUES</h2>
	<div class="col-row-box">
		<div class="col-text">
			<img src="/assets/img/group_4.svg" alt="">
			<p class="title">Players first.</p>
			<p>From team placement to scheduling to league discipline, we try very hard to help you accomplish your individual goals
				and respect your level of commitment.</p>
		</div>
		<div class="col-text">
			<img src="assets/img/group_3.svg" alt="">
			<p class="title">Professional Experience. </p>
			<p class="text-center">We aren't all pros, nor do we all aspire to be pros. But that doesn't mean we can't be treated
				like professionals.<br><br>The League office is run in a professional manner. Our Player Advocates are trained in professional
				attributes and our tools were first tested on professional teams.</p>
			<!-- <div class="text-center pb-5"><a id="link2" class="arrow-link" href="javascript:void(0)">View League <span class="arrow"></span></a></div> -->
		</div>
		<div class="col-text">
			<img src="assets/img/group.svg" alt="">
			<p class="title">Listen Well.</p>
			<p>Since the start of the EDL we have made significant changes in response to the community. While we think we are in
				the right spot, we remain committed to listening and improving based on your feedback.</p>
		</div>
	</div>
</section>
<section id="anchor3" class="section-6">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 p-0  mt-150">
				<div class="content-box-left">
					<h2>How It Works</h2>
					<p>Starting your personal competitive esports journey is simple: </p>
					<a [routerLink]="['/registration/league']" class="btn btn-red sm mr-4">Start your meaningful esports journey
						now!
					</a>
				</div>
			</div>
			<div class="col-lg-7  mt-150">
				<div class="item-num">
					<div class="num-circle"><span>1</span></div>
					<div class="num-text">
						<p class="num-title">TELL US ABOUT YOU</p>
						<p class="mb-0">Select your sport and age group. We have adult (18+) and Youth Leagues.</p>
					</div>
				</div>
				<div class="item-num">
					<div class="num-circle"><span>2</span></div>
					<div class="num-text">
						<p class="num-title">Enter payment details. </p>
						<p class="mb-0">EDL fees for adult leagues are $25 per split ($35 for Youth Leagues) or $170/$238 (15% discount) for a yearly plan (8 splits)</p>
					</div>
				</div>
				<div class="item-num">
					<div class="num-circle"><span>3</span></div>
					<div class="num-text">
						<p class="num-title">Get Team Assignment</p>
						<p class="mb-0">Remember, you can sign up solo or with requested teammates. Team assignment happens 1 week before
							split begins.</p>
					</div>
				</div>
				<div class="item-num">
					<div class="num-circle"><span>4</span></div>
					<div class="num-text">
						<p class="num-title">Prepare for the Split</p>
						<p class="mb-0">Get to know your team. Agree on strategy with your team (Player Advocates are available to help with
							this). Schedule matches (we have a flexible scheduling system to optimize availability for all players)</p>
					</div>
				</div>
				<div class="item-num">
					<div class="num-circle"><span>5</span></div>
					<div class="num-text">
						<p class="num-title">Play, Learn, Improve, Lose, Win and Have Fun!</p>
						<p class="mb-0">1 official match per week. Each match is 2 games played back-to-back on scheduled date/time.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="anchor4" class="section-7">
	<div class="container fix-container-media">
		<div class="row">
			<h2>OUR PLAYERS</h2>
			<div class="box-our-players">
				<div class="item-our-players">
					<!-- <div class="box-avatar"><img src="" alt=""></div> -->
					<div class="num-text">
						<p class="num-title">Ken (OniNoKen) Culver</p>
						<p>"Playing with 4 other people, learning their tendencies and being able to anticipate them is a much more fun way
							to play league"</p>
					</div>
				</div>
				<div class="item-our-players">
					<!-- <div class="box-avatar"><img src="" alt=""></div> -->
					<div class="num-text">
						<p class="num-title">Jamie (Cheostian) Betteridge</p>
						<p>“I feel like my team is having a blast with this...This is the first time I've been on a team I know should be
							together for a month of matches, which means building up the team's skills in areas can actually matter.”</p>
					</div>
				</div>
				<div class="item-our-players">
					<!-- <div class="box-avatar"><img src="" alt=""></div> -->
					<div class="num-text">
						<p class="num-title">Jack Doucet</p>
						<p>“I’ve been playing in the EDL for 3 weeks and I have had loads of fun and become a better jungler, adc and shot
							caller!”
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="anchor5" class="section-8">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mt-80 fix-mt-media">
				<h2>Success</h2>
				<p class="text-20">Our passion is to help you be confident, ever-improving, positive, connected to a community of friends,
					while enjoying a meaningful esports journey.</p>
				<p class="title-s8">We are focused on your success</p>
				<ul>
					<li>Achieve your esports goals</li>
					<li>Enjoy the game more</li>
					<li>Improve</li>
					<li>More positivity and less toxicity in your life</li>
					<li>Create meaning in your esports journey</li>
					<li>Increase your understanding and appreciation for the professional game</li>
				</ul>
			</div>
			<div class="col-lg-6 mt-80 pl-8p fix-mt-media fix-mt">
				<h2>What is your goal</h2>
				<p class="text-14">I don’t have a lot of time to practice, but I want to improve and have fun in a positive, competitive
					environment
					<br><br> I play a lot and want to really focus on improving high-order skills.<br><br> I want to get a college scholarship
					or sign a professional<br>contract.<br><br> I want to coach or be a team analyst.<br><br> I want to be a caster. </p>
			</div>
		</div>
	</div>
</section>
<section class="section-9">
	<div class="section-timer">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<h2>Season 1 2019<br>Sign up Deadline</h2>
					<a [routerLink]="['/registration/league']" class="btn btn-red sm mr-4">Join the League</a>
				</div>
				<div class="col-lg-7 d-flex align-items-center justify-content-between">
					<img src="assets/img/baseline-timer.svg" alt="">
					<div id="boxTimer">
						<countdown  units="Days | Hours | Minutes | Seconds" [showZero]=true  end="February 10, 2019"></countdown>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-bottom"></div>
</section>

<div id="popUpModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog size-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">pop up headline</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Modal body text goes here.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-cansel" data-dismiss="modal">Cacel</button>
				<button type="button" class="btn btn-primary btn-confirm">Confirm</button>
			</div>
		</div>
	</div>
</div>
