body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.section-1 {
  overflow: hidden;
}

.box-logo {
  padding-left: 46px;
  display: inline-block;
}

.box-logo img {
  margin-right: 8px;
}

.top-bg-img {
  background: url('/assets/img/group-21.jpg') no-repeat top right;
  background-size: cover;
  width: 100%;
  height: 552px;
  position: relative;
}

.box-logo span {
  font-family: 'Teko', sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
}

.btn-red {
  background-color: #e01212;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  border-radius: 6px;
  height: 44px;
  line-height: 28px;
  font-size: 14px;
}

.btn-red.sm {
  height: 36px;
  line-height: 20px;
}

.btn-red:hover,
.btn-red:focus {
  color: #fff !important;
}

.top-bg-img {
  color: #fff;
  text-align: center;
}

.top-bg-img p {
  font-size: 24px;
  max-width: 660px;
  margin: 0 auto 38px;
}

.top-bg-img h1 {
  font-family: 'Teko', sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.mobil-top-bg-img {
  position: relative;
}

.mobil-top-bg-img h1 {
  font-family: 'Teko', sans-serif;
  font-size: 7.4vw;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 68%;
  color: #fff;
}

.mobil-section-gradient__content {
  max-width: 68%;
  text-align: center;
  color: #fff;
}

.mobil-section-gradient__content p span {
  white-space: nowrap;
}

.mobil-section-gradient__content p {
  margin-bottom: 37px;
}

.center-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
}

.nav-bar {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  background-color: #110630;
  height: 54px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  position: absolute;
  width: 100%;
}

.nav-bar.ontop {
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding-right: 70px;
}

.nav-bar a {
  color: #fff;
  display: inline-block;
  height: 54px;
  padding: 14px 1.5%;
  white-space: nowrap;
  transition: 0.25s;
  outline: none;
}

.nav-bar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.nav-bar.ontop a {
  position: relative;
}

.nav-bar.ontop a.active:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  background: #e01212;
  left: 0;
  bottom: 0;
  transition: width 0.2s;
}

.nav-bar.ontop a.active:before {
  width: 100%;
}

.section-2 {
  background-color: #fcfcfc;
  color: #000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  width: 100%;
  min-height: 27vh;
  margin-top: 54px;
}

.section-2 p {
  font-weight: 300;
  max-width: 1010px;
  width: calc(100% - 40px);
  line-height: 138%;
}

.section-3 {
  padding: 6%;
  max-height: 320px;
  background: linear-gradient(283deg, #e01212, #4912e0);
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.section-3 .img-box {
  width: 38vw;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  max-width: 263px;
  min-width: 115px;
  padding: 3% 10px;
}

.section-3 .img-box img {
  width: 74%;
}

.section-4 .box-left {
  background: url('/assets/img/group-22.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 565px;
}

h2 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.section-4 .box-rigth {
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  padding: 50px 20px;
}

.section-4 h2 {
  color: #000;
  margin-bottom: 20px;
  letter-spacing: 1.8px;
}

.section-4 ul {
  padding-left: 20px;
  margin-bottom: 35px;
}

.section-4 .btn-red {
  position: absolute;
  left: 50%;
  bottom: 26%;
  transform: translateX(-50%);
}

.box-rigth__content {
  max-width: 516px
}

.box-rigth__content p {
  font-size: 20px;
  color: #000;
  letter-spacing: 0.4px;
  line-height: 135%;
}

.box-rigth__content ul li {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 17px;
}

.arrow-link {
  font-size: 14px;
  font-weight: 800;
  color: #4912e0;
}

.arrow-link:hover {
  text-decoration: none;
  color: #4912e0;
}

.arrow-link .arrow {
  background-color: #4912e0;
  width: 18px;
  height: 19px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 5px;
}

.arrow-link .arrow:before {
  content: '';
  position: absolute;
  background: url(/assets/img/arrow.svg) no-repeat center center;
  background-size: contain;
  width: 9px;
  height: 15px;
  left: 5px;
  top: 2px;
}

.section-5 {
  width: 100%;
  min-height: 849px;
  background-image: linear-gradient(301deg, #4912e0, #22c8f1);
}

.section-5 h2 {
  color: #fff;
  padding-top: 82px;
  padding-left: 97px;
  letter-spacing: 1.8px;
}

.section-5 .col-text p {
  color: rgba(255, 255, 255, 0.8);
}

.section-5 .col-text .title {
  color: #fff;
}

.col-row-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
}

.col-text {
  width: 322px;
  height: 400px;
  margin: 45px;
  color: #fff;
}

.col-text img {
  margin: auto;
  display: inherit;
  margin: auto;
  display: inherit;
  margin-top: 60px;
  margin-bottom: 27px;
}

.col-text .title {
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2.6px;
  text-align: center;
  text-transform: uppercase;
}

.col-text p {
  font-size: 14px;
}

.section-5 .arrow-link {
  color: #fff;
}

.section-6 {
  min-height: 826px;
}

.section-6 h2 {
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1.8px;
}

.content-box-left {
  max-width: 390px;
}

.content-box-left p {
  font-size: 20px;
  margin: 15px 0;
}

.num-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #4912e0;
  position: relative;
  margin-right: 50px;
}

.num-circle span {
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.num-text {
  width: calc(100% - 110px);
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 600;
  line-height: 136%;
}

.num-text .num-title {
  font-family: 'Teko', sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.item-num {
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  margin-bottom: 60px;
}

.mt-150 {
  margin-top: 150px;
}

.section-7 {
  background: #110630;
  min-height: 980px;
  padding-top: 120px;
}

.section-7 h2 {
  color: #fff;
  letter-spacing: 1.8px;
}

.section-7 .num-title {
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.section-7 p {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  line-height: 130%;
  margin: 0;
}

.box-avatar {
  width: 117px;
  height: 117px;
  border-radius: 10px;
  background-color: #777;
  margin-right: 58px;
}

.item-our-players {
  display: flex;
  display: -webkit-flex;
  margin: 90px 0;
  align-items: center;
  -webkit-align-items: center;
}

.text-20 {
  font-size: 20px;
  font-weight: normal;
  line-height: 135%;
}

.title-s8 {
  font-family: 'Teko', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-8 {
  padding-bottom: 80px;
}

.section-8 .title-s8 {
  color: #000;
}

.section-8 ul {
  padding-left: 18px;
}

.section-8 ul li {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}

.section-8 .text-20 {
  margin-bottom: 40px;
  background-color: white;
  margin-top: 25px;
  color: #000;
}

.section-8 h2 {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  color: #000;
}

.text-14 {
  font-size: 14px;
  font-weight: 600;
}

.section-8 .text-14 {
  color: #4912e0;
  max-width: 400px;
  margin-top: 30px;
  line-height: 175%;
}

.mt-80 {
  margin-top: 80px;
}

.pl-8p {
  padding-left: 8%;
}

.section-9 .section-timer {
  min-height: 320px;
  background-image: linear-gradient(257deg, #e01212, #4912e0);
  overflow: hidden;
}

.section-bottom {
  height: 155px;
  background: #110630;
}

.section-9 h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  line-height: 110%;
}

.section-9 .col-lg-5,
.section-9 .col-lg-7 {
  margin-top: 100px;
}

.mr-90 {
  margin-right: 90px;
}

.section-timer {
  padding-bottom: 90px;
}



.section-timer .col-lg-7 {
  max-width: 600px;
  min-width: 430px;
}

.modal-dialog.size-md {
  max-width: 675px;
}

.modal-dialog .close {
  font-size: 45px;
  color: #4912e0;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  margin: 0;
  line-height: 53%;
}

.modal-dialog .close:not(:disabled):not(.disabled):focus {
  box-shadow: none;
  outline: none;
}

.modal-dialog .close:not(:disabled):not(.disabled):hover,
.modal-dialog .close:not(:disabled):not(.disabled) {
  color: #4912e0;
  opacity: 1;
}

.modal-footer,
.modal-header {
  border: none;

}

.modal-header,
.modal-body {
  padding-right: 10%;
  padding-left: 10%;
}

.modal-footer {
  justify-content: space-between;
  margin-top: 15%;
}

.modal-title {
  font-family: 'Teko', sans-serif;
  color: #000;
  text-transform: uppercase;
  font-size: 37px;
  font-weight: 600;
  margin-top: 107px;
  line-height: 50%;
  letter-spacing: 1.7px;
}

.btn-confirm {
  background-color: #4912e0;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
}

.btn-confirm:hover,
.btn-confirm:focus,
.btn-confirm:not(:disabled):not(.disabled):active {
  background-color: #4912e0;
  box-shadow: none;
}

.btn-cansel {
  background-color: transparent;
  border: none;
  color: #4912e0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
}

.btn-cansel:hover,
.btn-cansel:focus,
.btn-cansel:not(:disabled):not(.disabled):active {
  background-color: transparent;
  color: #4912e0;
  box-shadow: none;
}

.modal-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.nav-bar .btn-red,
.nav-bar .box-logo {
  display: none;
}

.nav-bar.ontop .box-logo {
  display: flex;
  display: -webkit-flex;
  position: absolute;
  left: 0;
}

.nav-bar.ontop .btn-red {
  display: block;
  position: absolute;
  right: 20px;
}

.nav-bar .btn-red {
  background-color: #e01212;
  height: 36px;
  padding: 0 15px;
  display: none;
  line-height: 32px;
}

.nav-bar.ontop .btn-red:hover {
  background-color: #e01212;
}

.link-box {
  white-space: nowrap;
  width: max-content;
}

.modal-open {
  padding: 0 !important;
}

.box-games {
  display: flex;
  display: -webkit-flex;
}

.mobil-nav-bar img {
  width: 73px;
  height: auto;
}

.btn-navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(125, 125, 125, 0.7);
  right: 120%;
  opacity: 0;
  transition: all 0.5s;
  z-index: 20;
  background: -moz-linear-gradient(top, #110630 0%, transparent 2000%);
  background: -webkit-linear-gradient(top, #110630 0%, transparent 2000%);
  background: linear-gradient(to bottom, #110630 0%, transparent 2000%);
}

.btn-navbar-menu.active {
  right: 0;
  opacity: 1;
  transition: all 0.5s;
}

.btn-navbar {
  position: relative;
}

.btn-navbar {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.btn-navbar span {
  position: absolute;
  height: 2px;
  background-color: #22c8f1;
  left: 12px;
}

.btn-navbar span:nth-child(1) {
  width: 26px;
  bottom: 30px;
}

.btn-navbar span:nth-child(2) {
  width: 19px;
  bottom: 25px;
}

.btn-navbar span:nth-child(3) {
  width: 12px;
  bottom: 20px;
}

.btn-navbar-menu .closer {
  position: absolute;
  right: 43px;
  top: 3px;
  font-size: 50px;
  line-height: 100%;
}

.btn-navbar-menu .closer:before {
  content: '+';
  position: absolute;
  color: #22c8f1;
  transform: rotate(45deg);
}

.dscroll {
  overflow: hidden;
}

.btn-navbar-menu ul {
  padding-left: 20px;
  padding-top: 50px;
}

.btn-navbar-menu ul li {
  list-style-type: none;
  margin-bottom: 48px;
}

.btn-navbar-menu ul li a {
  color: #fff;
  font-size: 23px;
}

.btn-navbar-menu ul li a:hover,
.btn-navbar-menu ul li a:focus {
  text-decoration: none;
  outline: none;
}

.btn-navbar-menu ul li a.btn-red {
  font-size: 14px;
  height: 38px;
  line-height: 21px;
}

.btn-navbar-menu .box-logo {
  padding: 0;
}

.btn-navbar-menu .box-logo img {
  width: 67px;
}

a.box-logo:before {
  display: none;
}

.btn-red.nav-link {
  max-width: 150px;
}


/* hiden desktop */
.mobil-nav-bar,
.mobil-section-gradient,
.mobil-top-bg-img,
.mobil-box-games,
.mobil-box-left {
  display: none;
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {

  .nav-bar,
  .top-bg-img .top-bg-img__footer,
  .top-bg-img,
  .section-4 .box-left,
  .section-6 .btn-red,
  .section-9 .btn-red,
  .section-9 h2 br,
  .section-bottom {
    display: none !important;
  }

  .mobil-nav-bar {
    display: flex;
    display: -webkit-flex;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #110630;
    z-index: 10;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }

  .mobil-nav-bar .box-logo {
    padding-left: 12px;
  }

  .mobil-top-bg-img {
    display: block;
    margin-top: 50px;
  }

  .mobil-top-bg-img img {
    width: 100%;
    height: auto;
  }

  .mobil-section-gradient {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
    width: 100%;
    height: 240px;
    /* temp*/
    background-image: linear-gradient(301deg, #4912e0, #22c8f1);
  }

  .section-2 {
    margin-top: initial;
    padding: 30px 0;
  }

  .section-2 p {
    font-weight: 600;
    font-size: 20px;
    max-width: 80%;
    margin: 0;
  }

  .section-3 {
    justify-content: start;
  }


  .mobil-box-left {
    display: block;
  }

  .mobil-box-left img {
    width: 100%;
  }

  .section-5 .col-text {
    margin: 0 30px 25px 64px;
    position: relative;
    height: initial;
  }

  .section-5 .col-text img {
    width: 36px;
    height: 36px;
    margin: initial;
    position: absolute;
    left: -50px;
    top: -7px;
  }

  .section-5 .col-text .title {
    text-align: left;

  }

  .section-5 .col-text .text-center {
    text-align: left !important;
  }

  .section-5 h2 {
    padding-left: 30px;

    padding-top: 50px;
    margin-bottom: 42px;
  }

  .col-row-box {
    flex-direction: column;
  }

  .section-6 .mt-150 {
    margin-top: 45px;
  }

  .section-6 .content-box-left {
    padding: 0 30px;
  }

  .section-6 .item-num {
    padding-left: 70px;
    position: relative;
  }

  .section-6 .num-circle {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 16px;
    top: -11px;
  }

  .section-6 .num-circle span {
    font-size: 20px;
    top: 20px;
  }

  .section-6 .num-text {
    width: 100%;
  }

  .section-7 {
    padding-top: 43px;
  }

  .box-our-players {
    display: flex;
    display: -webkit-flex;
    padding-left: 55px;
    overflow: auto;
  }

  .item-our-players {
    flex-direction: column;
  }

  .section-7 .box-avatar {
    margin: 0;
  }

  .section-7 .num-text {
    width: 260px;
  }

  .section-7 .num-title {
    margin-top: 15px;
    margin-bottom: 14px;
  }

  .section-7 p {
    font-size: 15px;
    max-width: 226px;
  }

  .section-7 {
    min-height: inherit;
    width: 100%;
  }

  .section-7 h2 {
    padding-left: 55px;
    margin-bottom: 30px;
  }

  .section-7 .item-our-players {
    margin: 0px 0 60px;
  }

  .section-7 .item-our-players {
    align-items: start;
  }

  .fix-container-media {
    max-width: 100%;
  }

  .section-7 .num-title {
    font-size: 15px;
  }

  .fix-mt-media {
    margin-top: 50px;
    padding: 0 30px;
  }

  .section-8 .text-20 {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 27px;
  }

  .section-8 .fix-mt {
    margin-top: 30px;
  }

  .section-8 {
    padding-bottom: 20px;
  }

  .section-9 h2 {
    font-size: 3.7vw;
    padding-left: 15px;
  }

  .section-timer img {
    width: 43px;
    height: 50px;
    margin-right: 20px;
  }

  .section-9 .col-lg-7 {
    margin-top: 10px;
  }

  #boxTimer {
    font-size: 34px;
    text-align: left;
    justify-content: start;
  }

  #boxTimer p {
    margin: 0 5px;
    font-size: 12px;
    margin-left: 0px;
    position: absolute;
    bottom: 3px;
  }

  #boxTimer div {
    margin: 0 15px 5px;
  }

  .section-timer .col-lg-7 {
    min-width: 280px;
  }

  .section-9 .section-timer {
    padding-bottom: 0;
    min-height: initial;
    padding: 25px;
  }

  .section-9 .col-lg-5 {
    margin: 0;
  }

  .section-3 .img-box:last-child {
    margin-right: 5%;
  }

}

@media (max-width: 767px) {}

@media (max-width: 575px) {
  .section-2 p {
    font-size: 18px;
  }

  .box-rigth__content p {
    font-size: 4.4vw;
  }

  .section-5 .col-text .title {
    font-size: 4.4vw;
  }

  .col-row-box {
    flex-direction: initial;
  }

  .section-4 h2,
  .section-6 h2,
  .section-7 h2,
  .section-8 h2,
  .section-5 h2 {
    font-size: 5vw;
    letter-spacing: 1.2px;
  }

  .content-box-left p {
    font-size: 17px;
  }

  .section-8 h2 {
    letter-spacing: normal;
    margin-bottom: 40px;
  }

  .section-3 .img-box {
    border-radius: 5px;
  }

}
